xml version encoding utf doctype plist public apple dtd plist plist version dict key bundle development region key string development language string key bundle executable key string executable string key bundle icon file key string string key bundle identifier key string product bundle identifier string key bundle info dictionary version key string string key bundle key string imgui string key bundle package type key string appl string key bundle short version string key string string key bundle version key string string key minimum version key string macosx deployment target string key main storyboard file key string main menu string key principal class key string application string dict plist